@import '../styles/variables';

.games {
  height: 100%;

  h1 {
    color: $white;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $pad2;
    padding-top: 0;
  }

  .list {
    height: calc(100% - 70px);
  }

  .filter-empty {
    background: $white;
    padding: 20px;
    border-radius: $radius-1;
  }

  .game-item {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;

    .image {
      width: 40px;
    }

    .title, .author, .actions {
      width: 33%;
    }

    .author {
      text-align: center;
    }
    .author, .actions {
      font-size: 10px;
      color: grey;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}