.play {
  h3 {
    color: darkgrey;
    margin: 0;
  }

  .description {
    color: darkgrey;
    margin-bottom: 10px;
  }

  .beta-card {
    background: darkred;
    color: white;
    padding: 5px;
    border-radius: 7px;
    font-size: 11px;
    margin-left: 10px;
  }

  .play-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    h1 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .game-container {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 300px;

    .canvas {
      width: 100%;
      max-width: 1000px;
      display: flex;
      justify-content: center;
    }

    .instructions {
      min-width: 450px;
      padding: 0px 20px;
      height: 100%;
      max-height: calc(100vh - 200px);
      overflow: scroll;

      .tab-navigator {
        height: 100%;
      }
    }
  }
}