@import '../styles/variables';

.play {
  .warning {
    background-color: $error-red;
    color: white;
    font-weight: bold;
    opacity: 0.75;
    padding: $pad3;
    border-radius: $radius-1;
  }

  h3 {
    color: darkgrey;
    margin: 0;
  }

  .author, .description, .published-date {
    font-size: 16px;
    margin-bottom: $pad3;
  }

  .beta-card {
    background: darkred;
    color: white;
    padding: 5px;
    border-radius: 7px;
    font-size: 11px;
    margin-left: 10px;
  }

  .play-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $pad2;

    h1 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .game-container {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 300px;

    .canvas {
      width: 60%;
      display: flex;
      justify-content: center;

      &.large-screen {
        width: 100%;
      }
    }

    .details {
      width: 40%;
      margin-left: $pad3;
      min-width: 290px;
      height: 100%;
      max-height: calc(100vh - 200px);
      overflow: scroll;

      .tab-navigator {
        height: calc(100vh - 220px);
      }
    }
  }
}

.play-mobile {
  .ringa-component.tab-navigator {
    height: calc(100% - 36px);
  }

  .ringa-component.tab-content {
    height: 100% !important;
  }

  .ringa-component.tab-navigator .content {
    border: none !important;
  }

  .ringa-component.tab-content.play {
    padding: 0;
  }

  h1 {
    font-size: 16px;
  }

  h3 {
    color: darkgrey;
    margin: 0;
  }

  .author, .description, .published-date {
    margin-bottom: 10px;
  }

  .beta-card {
    background: darkred;
    color: white;
    padding: 5px;
    border-radius: 7px;
    font-size: 11px;
    margin-left: 10px;
  }

  .play-header {
    display: flex;
    flex-direction: column;
    margin: 5px 0;

    .sub-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 $pad2;
    }

    .warning {
      background-color: $error-red;
      color: white;
      font-weight: bold;
      opacity: 0.75;
      padding: $pad1 $pad2;
      border-radius: $radius-1;
    }

    h1 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .canvas {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .instructions {
    padding: 0px $pad1;
    height: 100%;
    max-height: calc(100vh - 200px);
    overflow: scroll;

    .tab-navigator {
      height: 100%;
    }
  }
}