.playground {
  display: flex;
  flex-direction: row;

  .editor {
    flex: 1 1 auto;
    width: 50%;
    max-width: 500px;
    margin-right: 1em;
  }

  .game-canvas-editor-container {
    padding-top: 60px;
    flex: 1 1 auto;
    width: 40%;
    margin-left: 1em;
  }
}