@import '../../styles/variables';

.canvas {
  position: relative;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
  }

  canvas {
    width: 100%;
    border-radius: $radius-1;

    @media screen and (max-width: 768px) {
      border-radius: 0;
    }
  }

  .loading {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 40px;
  }

  .paused {
    border-radius: $radius-1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 40px;
    color: rgba(255, 255, 255, 1);

    .game-paused {
      font-size: 22px;
      margin: $pad1 0;
    }

    .click-to-resume {
      font-size: 16px;
      margin: $pad1 0;
    }
  }
}