@import '../styles/variables';

.classic .app-header {
  width: calc(100%);

  position: relative;

  background: $ringa-color;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $white;

  .ringa-component.button {
    border: 1px solid grey;
    padding: 3px 5px;
    background: none;
    color: white;
  }

  a {
    color: white;
  }

  .username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;

    @media screen and (max-width: 768px){
      font-size: 12px;
    }
  }

  .title {
    padding-left: $pad3;
    font-size: 28px;
    font-weight: bold;
    height: 60px;
    flex: 0 0 auto;
    cursor: pointer;
    color: $ringa-color-text;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: $break-small) {
      height: 30px;
      width: 120px;
      padding-left: $pad1;
      font-size: 14px;
    }
  }

  .i18n-switcher {
    margin-right: 40px;
  }
}