@import '../styles/variables';

.classic .app-header {
  width: calc(100%);

  position: relative;

  background: $ringa-color;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $white;

  a {
    color: white;
  }

  .username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;

    @media screen and (max-width: 768px){
      font-size: 11px;
    }
  }

  .logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $pad2;

    img.logo {
      height: 36px;

      @media screen and (max-width: $break-small) {
        height: 22px;
      }
    }

    .title {
      padding-left: $pad2;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      flex: 0 0 auto;
      cursor: pointer;
      color: $ringa-color-text;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      letter-spacing: 2px;
      text-align: left;

      img {
        width: 120px;
        margin: #{$pad1 / 2} 0;
      }

      .tagline {
        font-size: 12px;
        color: $white-2;
        letter-spacing: 1px;
        margin-top: #{$pad1 / 2};
      }

      @media screen and (max-width: $break-small) {
        height: 20px;
        padding-left: $pad1;
        font-size: 12px;
      }
    }
  }

  .i18n-switcher {
    margin-right: 40px;
  }
}