@import '../styles/variables';

.modal-highscore {
  img {
    max-width: 300px;
  }
}

.highscores {
  .highscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: $black-2;

    .position, .points, .time, .name, .timestamp {
      padding: $pad1;
      flex: 0 0 auto;
    }

    .position {
      width: 15px;
    }

    .points {
      width: 40px;
    }

    .time, .name, .timestamp {
      width: 20%;
    }

    .name, .points {
      font-weight: bold;
    }

    &.hoverable {
      cursor: pointer;
      &:hover {
        background: $selected-1;
        color: $white;
      }
    }

    &.header {
      border-bottom: 1px solid $grey-1;

      .position, .points, .time, .name, .timestamp {
        font-weight: bold;
      }
    }
  }
}