//--------------------------------
// Generic
//--------------------------------
$white: #FFFAFF;
$white-2: #d4c3d4;

$black: #333;
$black-2: #444;
$black-3: #666;
$black-4: #999;

$grey-1: #d4c3d4;
$grey-2: #EDEDED;
$grey-3: #F2F2F2;
$grey-4: #FDFDFD;

$error-red: red;

$debug-orange: #FFA500;

//--------------------------------
// Theme
//--------------------------------
// https://coolors.co/0a2463-3e92cc-fffaff-d8315b-1e1b18
$ringa-color: #1b73b3;
$ringa-color-text: $white;

$ringa-color-2: #0A2463;
$ringa-color-text-2: $white;

$hover-1: rgba(235, 242, 242, 0.7);
$selected-1: #D8315B;

//--------------------------------
// Elements
//--------------------------------
$theme-background: #1E1B18;
