/**
 * Step 1: Setup all our Ringa variables since all subsequent files require them.
 */
@import 'variables';
@import 'mixins';

/**
 * Step 2: Setup all our base styles (fill, boddy, html, etc.) AND all our component styles (TextInput, Button, etc.)
 */
@import '~ringa-fw-react/src/styles/themes/base/index';

html, body {
  font-family: "Roboto",Arial,sans-serif;
}

.classic {
  label {
    display: block;
    margin: $pad2 0;
    font-weight: bold;

    &:first-child {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .ringa-component.panel {
    margin: $pad2 0;
    padding: 0;

    .header {
      margin-bottom: $pad1;
    }

    .content {
      border: 1px solid $grey-1;
      border-radius: $radius-1;
      padding: $pad2;
      background: $grey-3;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .modal {
    border-radius: $radius-1;
  }

  .overlay.dropdown-overlay.default {
    z-index: 10001;
  }

  .alert {
    font-weight: bold;
  }

  .modal-contents {
    padding: $pad1;
    width: calc(100% - #{$pad1 * 2});
    height: calc(100% - #{$pad1 * 2});

    &.show-header {
      height: calc(100% - #{$pad1 * 2} - 30px);
    }
  }

  .modal-close-btn {
    color: $white;
  }

  .modal-header {
    height: 30px;
    background: $ringa-color;
    color: $white;
    border-top-left-radius: $radius-1;
    border-top-right-radius: $radius-1;

    .title {
      text-align: left;
      font-size: 16px;
      padding: $pad1;
    }
  }

  .ringa-component.modal-container-wrapper .modal-container-contents.block-mouse-events {
    opacity: 0.4;
  }

  .ringa-component.button, button {
    border-radius: $radius-1;
    padding: 4px 7px;

    transition: 300ms transform ease-out, 300ms box-shadow ease-out, 300ms filter ease-out, 300ms background ease-out, 300ms border ease-out, 300ms color ease-out, 300ms color ease-out;

    &.selected {
      font-weight: normal !important;
    }

    &.disabled {
      background: $grey-1 !important;
    }

    &.highlight, &.green {
      background: green;
      color: $white;
      font-weight: bold;
    }

    &.warning, &.red {
      background: red;
      color: $white;
      font-weight: bold;
    }
  }

  .ringa-component.tab-navigator .button.tab {
    border-radius: 0;
    font-size: 14px;

    &:first-child {
      border-top-left-radius: $radius-1;
    }

    &:last-child {
      border-top-right-radius: $radius-1;
    }

    @media screen and (max-width: 768px) {
      font-size: 11px;
    }
  }

  .ringa-component.text-input {
    background: none;

    &:hover {
      background: none;
      border: none;
    }
  }

  .ringa-component.button.selected {
    background: $ringa-color;
    color: $white;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid $ringa-color;
  }

  .ringa-component.text-input {
    border: 1px solid $grey-1;
    background: $grey-2;
    border-radius: $radius-1;

    input {
      color: $black;
      font-weight: bold;
    }

    &:hover {
      border: 1px solid $grey-2;
      background: $grey-2;
    }
  }

  .ringa-component.list {
    border: 1px solid $grey-1;

    .search {
      border: none;
      margin: $pad2;

      input {
        color: $black;
        font-weight: bold;
      }
    }
  }
}

/**
 * Step 3: Setup all our generic styles that are *not* associated with a Ringa component but might be useful in the theme.
 */
.#{$theme} {
  @import 'generics';
}
