@import '../../styles/variables';

.history-item-modal {
  .modal-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 20px);

    .left-pane, .right-pane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .left-pane {
      margin-right: $pad2;
      width: 33%;
      min-width: 270px;

      label {
        margin: $pad3 !important;
      }

      .list {
        height: 100%;
        width: 100%;

        .history-item {
          display: flex;
          flex-direction: row;
          font-size: 9px;

          > div {
            width: 20%;
            padding: $pad1;
          }

          .version {
            .published-card {
              font-size: 8px;
              height: 8px;
            }
          }
          .adds-cell, .deletes-cell {
            width: 25px;
          }
        }
      }

      .adds, .deletes {
        color: $white;
        padding: $pad1;
        border-radius: $radius-1;
        font-weight: bold;
        width: 20px;
        text-align: center;
      }

      .adds.at-least-one {
        background: green;
      }

      .deletes.at-least-one {
        background: red;
      }
    }

    .right-pane {
      width: 67%;
      min-width: 0;
      flex: 1 1 auto;

      .ringa-component.dropdown.default {
        width: auto;
      }

      .controls {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: $pad2;
        > * {
          margin-right: $pad2;
        }
      }

      code {
        width: 100%;
        height: 100%;
      }

      pre {
        margin: 0;
        flex: 1 1 auto;
        width: 100%;
      }

      .diff {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 0;

        .code {
          width: calc(100% - #{$pad2 * 2});
          height: calc(100% - #{$pad2 * 2});
          overflow: scroll;
          border: 1px solid $grey-1;
          border-radius: $radius-1;
          padding: $pad2;
        }

        .added {
          font-weight: bold;
          background: green;
          color: $white;
        }

        .removed {
          font-weight: bold;
          background: red;
          color: $white;
        }
      }

      .bottom-controls {
        width: 100%;
        margin-bottom: 0;
        margin-top: $pad1;
        direction: rtl;
      }
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-bottom: 10px;

    h1 {
      margin: 0;
    }

    h3 {
      margin: 0;
      color: $black-3;
    }

    .title-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        margin-left: $pad3;
      }
    }
  }

  .workspace {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;

    .left-pane {
      min-width: 650px;

      &.full-screen {
        width: 100%;
      }

      .tab-navigator {
        height: 100%;

        .tabs {
          .controls {
            margin-left: $pad2;
            width: 100%;
            text-align: right;

            .dirty {
              font-size: 10px;
              font-weight: bold;
              color: $black-3;
            }
          }
        }
      }

      .code-note {
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        border-radius: $radius-1;
        background: $grey-1;
      }

      .instructions {
        textarea {
          flex: 1 1 auto;
          width: calc(100% - #{$pad1 * 2});
          height: calc(100% - #{$pad1 * 2});
          border: none;
          color: yellow;
          font-size: 11px;
          font-weight: bold;
          font-family: "Courier New", Courier, monospace;
          white-space: nowrap;
          overflow: auto;
          background: $black;
          padding: $pad1;
          border-radius: $radius-1;
        }
      }

      .ringa-component.tab-content.code {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .controls {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-bottom: $pad1;
        }

        .errors {
          flex: 0 0 auto;
          max-height: 400px;
        }
      }

      .error {
        padding: $pad1;
        margin: $pad1;
        border-radius: $radius-1;
        font-size: 14px;
        background-color: $error-red;
        color: $white;
      }

      .published {
        color: green;
      }

      .unpublished {
        color: $black-3;
      }

      .screenshot {
        img {
          width: calc(100% - 20px);
        }
      }
    }

    .canvas {
      display: flex;
      width: 100%;
      overflow: hidden;
      justify-content: center;

      canvas {
        flex: 0 0 auto;
        width: 100%;
      }
    }

    .full-screen-instructions {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      .edit {
        width: 50%;
        margin-right: $pad1;
      }

      .preview {
        width: 50%;
        margin-left: $pad1;
      }
    }
  }
}