@import '../../styles/variables';

.editor {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-bottom: 10px;

    h1 {
      margin: 0;
    }

    h3 {
      margin: 0;
      color: darkgrey;
    }

    .title-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        margin-left: $pad3;
      }
    }
  }

  .workspace {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;

    .left-pane {
      min-width: 500px;

      .tab-navigator {
        max-height: calc(100vh - 160px);
        height: 100%;

        .controls {
          margin-left: $pad2;

          .dirty {
            background: green;
            color: $white;
            font-weight: bold;
          }
        }
      }

      .code-note {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .code, .instructions {
        textarea {
          width: 100%;
          height: 100%;
          min-height: 400px;
          border: none;
          color: blue;
          font-size: 11px;
          font-weight: bold;
          font-family: "Courier New", Courier, monospace;
          white-space: nowrap;
          overflow: auto;
        }
      }

      .code {
        display: flex;
        flex-direction: column;

        .errors {
          flex: 0 0 auto;
          max-height: 400px;
        }
      }
      .error {
        padding: 10px 0px;
        font-size: 14px;
        color: red;
      }

      .published {
        color: green;
      }

      .unpublished {
        color: darkgrey;
      }

      .screenshot {
        img {
          width: calc(100% - 20px);
        }
      }
    }

    .right-pane {
      width: 100%;
      min-width: 300px;
      margin-left: 20px;

      .canvas {
        display: flex;
        width: 100%;
        overflow: hidden;
        justify-content: center;

        canvas {
          flex: 1 1 auto;
          width: 100%;
        }
      }
    }
  }
}