@import '../../styles/theme/variables';

.asset-modal {
  .content {
    height: 100%;
    width: calc(100% - #{$pad1 * 2});
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: $pad1;

    .details {
      border-bottom: 1px solid $grey-1;
      width: 100%;

      .label {
        font-weight: bold;
        margin-right: $pad1;
      }

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .size, .content-type {
        margin: $pad1 0;
      }
    }

    .img {
      flex: 1 1 auto;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .save {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.asset-upload-modal .modal-contents {
  .ringa-component.input-asset-id {
    margin-bottom: $pad2;
  }
}

.assets {
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey-1;
    padding-bottom: $pad2;
    margin-bottom: $pad2;

  }

  .total-size {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
  }

  .assets-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .asset {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: $pad1;
      margin: $pad1;
      width: 125px;
      height: 125px;
      border: 1px solid $grey-3;
      border-radius: $radius-1;
      cursor: pointer;

      &:hover {
        background: $hover-1;

        .delete {
          display: block;
        }
      }

      .img {
        flex: 1 1 auto;
        min-height: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          flex: 1 1 auto;
          max-width: 90px;
          max-height: 80px;
        }
      }

      .assetId, .size {
        margin: $pad1 0;
      }

      .delete {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}