@import '~ringa-fw-react/src/styles/themes/classic/index';

.game-image-tiny {
  width: 25px;
  border-radius: 5px;
}

.game-image-small {
  width: 50px;
  border-radius: 7px;
}

.game-image-medium {
  width: 95px;
  border-radius: 7px;
}

.published-card {
  height: 15px;
  background: green;
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 11px;
}

.unpublished-card {
  height: 15px;
  background: darkgrey;
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 11px;
}

.classic .ringa-component.button {
  border-radius: 7px;
  padding: 3px 7px;
}