@import 'theme/index';

.game-image-tiny {
  width: 25px;
  border-radius: 5px;
}

.game-image-small {
  width: 50px;
  border-radius: 7px;
}

.game-image-medium {
  width: 95px;
  border-radius: 7px;
}

.published-card {
  height: 15px;
  background: green;
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 11px;
  text-align: center;
}

.unpublished-card {
  height: 15px;
  background: darkgrey;
  color: white;
  padding: 5px;
  border-radius: 7px;
  font-size: 11px;
  text-align: center;
}

.page {
  height: calc(100% - #{$pad2 * 2});
  border-radius: $radius-1;
  background: $white;
  padding: $pad2;

  @media screen and (max-width: 768px) {
    height: calc(100% - #{$pad1 * 2});
    border-radius: 0;
    padding: $pad1 0;
  }
}

.warning-card {
  background-color: $error-red;
  color: white;
  font-weight: bold;
  opacity: 0.75;
  padding: $pad1 $pad2;
  border-radius: $radius-1;
  margin: $pad2 0;
}

button {
  touch-action: manipulation !important;
}

html, body {
  position: fixed !important;
  margin: 0 !important;
  height: 100% !important;
  overflow: hidden !important
}